<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li>Books</li>
          <li>Genre</li>
          <li>Author</li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Welcome to The Book Inventory Management System</h2>
        </div>

        <div class="authors-container">
          <h2>List of authors:</h2>

          <%if(authors.length === 0) { %>
          <p><%= message %></p>
          <% } else { %>
          <div class="author-holder">
            <% authors.forEach(author => { %>

            <div class="author-container">
              <h2><%= author.name%></h2>
              <p><%= author.birth_date%></p>
              <p><%= author.bio%></p>
            </div>

            <%})%>
          </div>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
