<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li><a href="/author">Authors</a></li>
          <li><a href="/">Books</a></li>
          <li><a href="/genre">Genres</a></li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Edit your book here:</h2>
        </div>
      </main>

      <form action="/<%= genre.id %>/update" method="POST">
        <label for="title">Title:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= genre.name %>"
          required
        />

        <button type="submit">Submit Edit</button>
      </form>
    </div>
  </body>
</html>
